# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/medsmith-frontend/node_modules

# testing
/coverage

# production
/medsmith-frontend/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

medsmith-frontend/npm-debug.log*
medsmith-frontend/yarn-debug.log*
medsmith-frontend/yarn-error.log*

# intellij
medsmith-frontend/.idea/
medsmith-backend/.idea/

medsmith-backend/main


# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
